body{
    background-color: rgb(201, 214, 231);
}

.ORM{
    float: left;
    margin-right: 5px;
}

#data{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

p, ul, h2{
    text-align: left;
    margin-left: 2%;
}

button{
    background-color: navy;
    border: 1px;
    border-color: black;
    height: 40px;
    width: 150px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
}

#explication{
    text-align: center;
}
