.page { 
    margin-left:auto; 
    margin-right:auto; 
}

body{
    width: 110%;
    margin-left:auto; 
    margin-right:auto; 
}

#plan {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-left:auto; 
    margin-right:auto; 
    font-size: 11px;
}

#plan td, #plan th {
    border: 1px solid #ddd;
    padding: 8px;
}

#plan tr:nth-child(even){background-color: #f2f2f2;}

#plan tr:hover {background-color: #ddd;}

#plan th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: navy;
    color: white;
    font-size: 14px;
}

.day{
    width: 98%;
    margin-left:auto; 
    margin-right:auto; 
}

#data {
    float: left;
    margin-left: 10px;

}

.week{
    width: 45%;
    float: left;
    margin-left:auto; 
    margin-right:auto; 
}

table{
    font-size: 14px;
}

@media print
{
    .page-break  { display:block; page-break-before:always; }

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;    

}

.bench, .squat, .ohp, .deadlift, .bbrow {
    
    float: left;
    /*font-size: 12px;*/
}

#plan li:nth-child(even){
    margin-left: 7%;
}
